* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrapper {
  /* Hide overflow for after gap animation (get # of tiles right first) */
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(100, 1vw);
  /* Vary # of columns by screen width media query */
  grid-template-rows: auto;
  gap: 0;
  transition: gap 3s cubic-bezier(.1,1,.9,.9);
}

.tile {
  height: 1vw;
  width: 1vw;
  border-radius: 0;
  transition: backgroundColor 0.1s ease-in-out;
  transition: borderRadius 0.1s ease-in-out;
}

.tile:hover {
  border: 1px solid #e7e7e7;
}

#wrapper.wrapper-background {
  gap: 2px;
}

#wrapper.wrapper-background * {
  border-radius: 2px;
}
